redux-essentials-example/.gitignore
redux-essentials-example/package-lock.json
redux-essentials-example/package.json
redux-essentials-example/README.md
redux-essentials-example/public/favicon.ico
redux-essentials-example/public/index.html
redux-essentials-example/public/logo192.png
redux-essentials-example/public/logo512.png
redux-essentials-example/public/manifest.json
redux-essentials-example/public/robots.txt
redux-essentials-example/src/App.css
redux-essentials-example/src/App.js
redux-essentials-example/src/App.test.js
redux-essentials-example/src/index.css
redux-essentials-example/src/index.js
redux-essentials-example/src/logo.svg
redux-essentials-example/src/reportWebVitals.js
redux-essentials-example/src/setupTests.js
redux-essentials-example/src/app/store.js
redux-essentials-example/src/features/counter/Counter.js
redux-essentials-example/src/features/counter/Counter.module.css
redux-essentials-example/src/features/counter/counterAPI.js
redux-essentials-example/src/features/counter/counterSlice.js
redux-essentials-example/src/features/counter/counterSlice.spec.js
